<template>
  <div class="home">
    <Users :users="users" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Users from '@/components/Users.vue'
import { User, AxiosResponse } from '@/types'
import { Getter } from 'vuex-class'
import userService from '@/services/userService'

const namespace: string = 'auth'

@Component({
  components: {
    Users,
  },
})
export default class Home extends Vue {
  @Getter('userId', { namespace }) userId?: number

  users: User[] = []

  created() {
    this.getAllUsers()
  }

  async getAllUsers() {
    const response: AxiosResponse = await userService.getAllUsers()
    const allUsers: User[] = response.data

    this.users = allUsers.filter(user => user.id !== this.userId)
  }
}
</script>
