<template>
  <div class="profile-page">
    <div v-if="user">
      <Profile :user="user" :viewerId="viewerId" @updateUser="getUser" />
    </div>
    <div class="profile-page__not-found" v-else>
      :( User does not exist
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Profile from '@/components/Profile.vue'
import { User, AxiosResponse, ProfileUrlQuery, UserProfile } from '@/types'
import { Getter } from 'vuex-class'
import userService from '@/services/userService'

const namespace: string = 'auth'

@Component({
  components: {
    Profile,
  },
})
export default class ProfilePage extends Vue {
  @Getter('userId', { namespace }) userId?: number
  user: User | null = null
  viewerId: number = 0

  created() {
    this.getUser()
  }

  async getUser() {
    const userId: number = parseInt(this.$route.params.id)
    this.viewerId = this.getViewerId()

    if (userId && this.viewerId) {
      this.user = await userService.getUserProfile(userId, this.viewerId)
    }
  }

  getViewerId() {
    const query: ProfileUrlQuery = this.$route.query

    return query && query.viewer && parseInt(query.viewer) === this.userId
      ? parseInt(query.viewer)
      : 0
  }
}
</script>

<style lang="scss" scoped>
.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
  &__not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #000;
    font-size: 24px;
    font-family: Roboto;
    line-height: 1.2;
    text-align: center;
  }
}
</style>
