<template>
  <div class="profile">
    <div class="profile__image">
      <img :src="user.avatar" alt="User profile picture" />
    </div>
    <div class="profile__details">
      <h1 class="profile__name">
        {{ user.screenName }}
      </h1>
      <div class="profile__followers">
        <p>
          <b>{{ user.followers }}</b>
          <span>followers</span>
        </p>
      </div>
      <div class="profile__action">
        <button
          :class="{ 'is-followed': followedByMe }"
          @click="toggleFollowing"
        >
          {{ followedByMe ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Emit, Vue } from 'vue-property-decorator'
import { UserProfile, ProfileUrlQuery, AxiosResponse } from '@/types'
import followService from '@/services/followService'

@Component
export default class Profile extends Vue {
  @Prop() user!: UserProfile
  @Prop() viewerId!: number

  get followedByMe() {
    return this.user ? this.user.followedByMe : false
  }

  toggleFollowing() {
    followService
      .setFollow(this.user.id, this.viewerId)
      .then(() => this.updateUser())
  }

  @Emit('updateUser')
  updateUser() {}
}
</script>

<style scoped lang="scss">
.profile {
  display: flex;
  width: 500px;
  max-width: 100%;
  padding: 20px;
  &__image {
    width: 200px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__details {
    padding-left: 20px;
  }
  &__name {
    margin-top: 5px;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.2;
  }
  &__followers {
    margin-top: 10px;
    b {
      display: inline-block;
      padding-right: 5px;
    }
  }
  &__action {
    margin-top: 10px;
    button {
      padding: 5px 10px;
      border: 2px solid #3897f0;
      background: #3897f0;
      border-radius: 25px;
      color: #fff;
      font-family: Roboto;
      font-size: 16px;
      cursor: pointer;
      transition: opacity 0.3s ease 0s;
      &:hover {
        opacity: 0.9;
      }
      &.is-followed {
        background: #fff;
        color: #3897f0;
      }
    }
  }
}
</style>
