<template>
  <div class="users">
    <transition name="fade">
      <ul v-if="users.length" class="users__list">
        <li v-for="user in users" :key="user.id" class="users__list-item">
          <router-link
            class="users__link"
            :to="{
              name: 'profile',
              params: { id: user.id },
              query: { viewer: userId },
            }"
          >
            <img :src="user.avatar" alt="User profile picture" />
            <span>{{ user.screenName }}</span>
          </router-link>
        </li>
      </ul>
      <div v-else>
        No users
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { User } from '@/types'
import { Getter } from 'vuex-class'

const namespace: string = 'auth'

@Component
export default class Users extends Vue {
  @Getter('userId', { namespace }) userId?: number
  @Prop() users!: User[]
}
</script>

<style lang="scss" scoped>
.users {
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  &__list {
    &-item {
      margin: 10px 0;
    }
  }
  &__link {
    img {
      transition: opacity 0.3s ease 0s;
    }
    span {
      display: block;
      margin-top: 5px;
      color: #000;
      font-family: Roboto;
      font-size: 16px;
      line-height: 1.2;
      text-transform: uppercase;
    }
    &:hover {
      img {
        opacity: 0.9;
      }
      span {
        text-decoration: underline;
      }
    }
  }
}
</style>
