<template>
  <div id="app">
    <div class="app-container">
      <page-transition>
        <router-view />
      </page-transition>
    </div>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Action } from 'vuex-class'

const namespace: string = 'auth'

@Component
export default class App extends Vue {
  @Action('getInitialUser', { namespace }) getInitialUser: any

  created() {
    this.$Progress.start()
    this.$router.beforeEach((to, from, next) => {
      this.$Progress.start()
      next()
    })
    this.$router.afterEach(() => {
      this.$Progress.finish()
    })

    this.setInitialUser(1)
  }

  mounted() {
    this.$Progress.finish()
  }

  setInitialUser(id: number) {
    this.getInitialUser(id)
  }
}
</script>

<style lang="scss">
@import 'styles/style';
</style>
